form {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input, select, button {
    padding: 8px;
    margin-top: 5px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  button {
    cursor: pointer;
  }
  