/* Chat.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    height: 90vh; /* Full height */
    margin: 0 auto;
    margin-top: 4rem;
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  .chat-header {
    text-align: center;
    margin-bottom: 20px;
    flex-shrink: 0;
  }
  
  .messages-container {
    flex-grow: 1; /* Take up remaining space */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .message {
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .message-box {
    background-color: #e7f9ce;
    border: 1px solid #8BC34A;
    border-radius: 8px;
    padding: 10px;
    max-width: 70%;
    word-wrap: break-word;
    text-align: left;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the input fields and button */
    gap: 10px;
    flex-shrink: 0; /* Ensure it doesn't shrink */
  }
  
  .username-input,
  .message-input {
    width: 80%; /* Make the input fields shorter */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .send-button {
    width: 10%; /* Make the button shorter */
    padding: 10px 20px;
    background-color: #8BC34A;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #779307;
  }
  