.contact-form-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .contact-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 15px;
    
  }

  .radio-label{
    margin-right: 35px;
  }
  
  label {
    font-weight: bold;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
  }
  
  .textarea {
    resize: none;
    height: 100px;
  }
  
  .submit-button {
    padding: 10px;
    background-color: #779307;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 150px;
    margin-left: 160px;
  }
  
  .submit-button:hover {
    background-color: #719a10;
  }
  
  .error {
    color: red;
    font-size: 0.9em;
  }
  
  .success {
    color: green;
    font-size: 0.9em;
    margin-top: 10px;
  }
  