.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 0 10px 0 rgba(17, 16, 16, 0.3);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .logo #emblem {
    height: 45px;
    width: auto;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .logo a {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    margin-left: 10px;
    max-width: 100%;
    height: auto;
  }
  
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .search-container {
    max-height: 300px; /* Adjust height as necessary */
    overflow-y: auto;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    color: rgb(8, 7, 7);
    text-decoration: none;
    padding: 10px;
    font-size: large;
  }
  
  .btn {
    background-color: #0d2f19;
    color: #ffffff;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 12px;
    font-size: large;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -6px;
    
  }
  
 
  .language{
    margin-right: 50px;
   }
  
  @media (max-width: 768px) {
    .navbar-content {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links {
      width: 100%;
      justify-content: center;
    }
  
    .nav-links ul {
      display: block;
      text-align: center;
    }
  
  
    .nav-login {
      margin-left: 0;
      margin-top: 15px;
      text-align: center; 
      width: 100%;
    }
  
   
  
  .profile-icon i {
      font-size: 20px;             
      color: #8BC34A;    
             
  }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .btn {
      width: 100%;
      margin-top: 10px;
    }
  
    .logo img {
      width: 40px;
      height: auto;
    }
  }
  
  @media (max-width: 480px) {
    .navbar {
      padding: 10px;
      text-align: center; 
    }
  
    .logo img {
      width: 25px;
      height: auto;
    }
  
    .nav-links a {
      font-size: medium;
    }
  
    .btn {
      width: 100%;
      font-size: medium;
      margin-top: 15px;
    }
  }

.search{
  margin-top: 5px;
}
.language{
  margin-left: 2rem;
}
  .search-bar .dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 100;
  }
  
  .search-bar .dropdown li:hover {
    background-color: #f0f0f0;
  }
  