.profilePage {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileCard {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 900px;
 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.profileDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.profileField {
  display: flex;
  flex-direction: column;
}

.profileField label {
  font-weight: bold;
  margin-bottom: 5px;
}

.profileField input,
.profileField select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.actionButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #779307;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.actionButton:hover {
  background-color: #719a10;;
}
